# config/application.yml
defaults: &defaults
  host: "yourdomain.com"
  mail:
    sender_address: "mail@yourdomain.com"
    smtp:
      host: "smtp.yourdomain.com"
      port: 25
      domain: "smtp.yourdomain.com"
      username: "username"
      password: 'secret'
      authentication: 'plain'
      enable_starttls_auto: true
          
development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
