/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap_and_overrides
 *= require bootstrap-flashmessage
 *= require jquery-minicolors
 */
body{
  padding-top:50px;
}
#userEvents{
  float:right;
  font-family: verdana, arial, helvetica, sans-serif;
  text-decoration:none;
  color:#303030;
  list-style:none;
  padding-right: 40px;
  padding-top: 14px;
  font-size: 13px;
}
#menu a {
  font-family: verdana, arial, helvetica, sans-serif;
  text-decoration:none;
  color:#303030;
  font-weight: bolder;
  font-size: 13px;
}
#menu a:hover {
  text-decoration: underline;
}
#menu li {
  display:inline;
  margin-left: 28px;
  list-style:none;
}
#logs{
  list-style:none;
}
footer{
  margin-top: 40px;
  float:right;
}
footer, footer a, footer a:link, footer a:visited{
    color: #CCCCCC;
}

#header{
  font-family: verdana, arial, helvetica, sans-serif;
  padding-left:45px;
  padding-top:10px;
  width:200px;
  font-size: 30px;
  font-weight:bolder;
}
#void{
  height:20px;
}

#help{
  margin-top: 10px;
  margin-right: 50px;
  float: right;
}
h1.header{
  display:inline;
}
.btn-header{
  float:right;
}
.new_event select{
   width: auto;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   height: 34px;
}

.stripes {
  float: left;
  
  margin: 10px;
  
  -webkit-background-size: 10px 10px;
  -moz-background-size: 10px 10px;
  background-size: 10px 10px;
  
  -moz-box-shadow: 1px 1px 8px gray;
  -webkit-box-shadow: 1px 1px 8px gray;
  box-shadow: 1px 1px 8px gray;
}
    
.angled {
  background-color: #ac0;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0,
              color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent),
              color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)),
              color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent),
              to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 15%, transparent 15%,
            transparent 30%, rgba(255, 255, 255, .2) 30%, rgba(255, 255, 255, .2) 45%,
            transparent 45%, transparent 60%, rgba(255, 255, 255, .2) 60%, 
            rgba(255, 255, 255, .2) 75%, transparent 75%,
            transparent 90%, rgba(255, 255, 255, .2) 90%, rgba(255, 255, 255, .2) 100%);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .2) 15%, transparent 15%,
            transparent 30%, rgba(255, 255, 255, .2) 30%, rgba(255, 255, 255, .2) 45%,
            transparent 45%, transparent 60%, rgba(255, 255, 255, .2) 60%, 
            rgba(255, 255, 255, .2) 75%, transparent 75%,
            transparent 90%, rgba(255, 255, 255, .2) 90%, rgba(255, 255, 255, .2) 100%);
  background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, .2) 15%, transparent 15%,
            transparent 30%, rgba(255, 255, 255, .2) 30%, rgba(255, 255, 255, .2) 45%,
            transparent 45%, transparent 60%, rgba(255, 255, 255, .2) 60%, 
            rgba(255, 255, 255, .2) 75%, transparent 75%,
            transparent 90%, rgba(255, 255, 255, .2) 90%, rgba(255, 255, 255, .2) 100%);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .2) 15%, transparent 15%,
            transparent 30%, rgba(255, 255, 255, .2) 30%, rgba(255, 255, 255, .2) 45%,
            transparent 45%, transparent 60%, rgba(255, 255, 255, .2) 60%, 
            rgba(255, 255, 255, .2) 75%, transparent 75%,
            transparent 90%, rgba(255, 255, 255, .2) 90%, rgba(255, 255, 255, .2) 100%);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 15%, transparent 15%,
            transparent 30%, rgba(255, 255, 255, .2) 30%, rgba(255, 255, 255, .2) 45%,
            transparent 45%, transparent 60%, rgba(255, 255, 255, .2) 60%, 
            rgba(255, 255, 255, .2) 75%, transparent 75%,
            transparent 90%, rgba(255, 255, 255, .2) 90%, rgba(255, 255, 255, .2) 100%);
}
