/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap_and_overrides
 *= require bootstrap-flashmessage
 */
body{
  padding-top:50px;
}
#userEvents{
  float:right;
  font-family: verdana, arial, helvetica, sans-serif;
  text-decoration:none;
  color:#303030;
  list-style:none;
  padding-right: 40px;
  padding-top: 14px;
  font-size: 13px;
}
#menu a {
  font-family: verdana, arial, helvetica, sans-serif;
  text-decoration:none;
  color:#303030;
  font-weight: bolder;
  font-size: 13px;
}
#menu a:hover {
  text-decoration: underline;
}
#menu li {
  display:inline;
  margin-left: 28px;
  list-style:none;
}
#logs{
  list-style:none;
}
.category-2{
  background-color: red !important;
}
footer{
  margin-top: 40px;
  float:right;
}
footer, footer a, footer a:link, footer a:visited{
    color: #CCCCCC;
}

#header{
  font-family: verdana, arial, helvetica, sans-serif;
  padding-left:45px;
  padding-top:10px;
  width:200px;
  font-size: 30px;
  font-weight:bolder;
}
#void{
  height:20px;
}

#help{
  margin-top: 10px;
  margin-right: 50px;
  float: right;
}